@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Slackey;
}

.container{
    height: 420px;
    width: 500px;
    background-color: #54ecefff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 30px 30px;
}


.container .heading{
    text-align: center;
    font-size: 1.99rem;
    margin: 0;
    line-height: 2;
}


.container .choosingstyle p{
    margin: 0;
    text-align: center;
    font-size: 1.29rem;
    line-height: 3;
}

.container .stylecontainer{
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.container .stylecontainer img{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid transparent;

}

.container .stylecontainer img:hover{
    border-color: black;
    cursor: pointer;
}

.container .scorecontainer h3{
    line-height: 2;
    margin: 0;
}

.container .scorecontainer{
    position: absolute;
    bottom: 40px;
    left: 30px;
    right: 30px;

}

.container .scorecontainer .scores{
    border: 3px solid black;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container .battlecontainer{
    display: none;
}

.container .battlecontainer h3{
    text-align: center;
    word-spacing: 50px;
    margin: 0;
    margin-top: 40px;
    line-height: 1;
}

.container .battlecontainer .playercompchoice{
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    padding: 20px;
}

.container .battlecontainer img{
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 100%;
}
