@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Slackey;
}

.playcontainer{
    height: 450px;
    width: 500px;
    background-color: #54ecefff;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 30px 30px 30px;
}


.playcontainer .heading{
    text-align: center;
    font-size: 1.99rem;
}

.playcontainer p{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 1.22rem;
}

.playcontainer .handcontainer{
    text-align: center;
    height: 170px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.playcontainer .handcontainer .hand{
    height: 130px;
    width: 130px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid transparent;

}

.playcontainer .handcontainer .hand:hover{
    border-color: black;
    cursor: pointer;
}

.playcontainer .scorecontainer{
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;   
}

.playcontainer .scorecontainer .score{
    margin: 0;
}

.playcontainer h3{
    border: 3px solid;
    border-radius: 10px;
    padding: 15px;
}

